# ============================
# Core Data Science
# ============================
numpy==2.2.6
pandas==2.2.3
scipy==1.15.2

# ============================
# Machine Learning
# ============================
scikit-learn==1.7.1
xgboost==3.0.4
imbalanced-learn==0.14.0
joblib==1.5.1

# ============================
# Model Explainability
# ============================
shap==0.48.0

# ============================
# Progress Bars
# ============================
tqdm==4.67.1

# ============================
# FastAPI ML API
# ============================
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
python-multipart==0.0.20

# ============================
# Environment
# ============================
python-dotenv==1.1.1

# ============================
# HTTP
# ============================
requests==2.32.4